{%extends 'base.html'%} {% load bootstrap4 %}{% block content %}{{ block.super}}

<h1 style="text-align: center">Posts from your neighbourhood, {{neighbourhood}}</h1>


{% for post in posts %}


<div class="card" style="width: 18rem;">
    <img src="{{post.post_pic.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text">{{post.created_on}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


{% empty %}
<p style="text-align: center">No posts from your neighbourhood.</p>
{% endfor %} {% endblock %}